includeConfig "${projectDir}/conf/modules.config"

profiles {
    test {
        params {
                run_dir = "./tests/test_data/"
                samplesheet = "./tests/test_data/samplesheet.csv"
                outdir = ".tests/test_out"
                concatenate_fastq = true
                downsample = true
                downsample_target = 10000
        }
    }   
    test_slurm { 
        params {
                run_dir = "./tests/test_data/"
                samplesheet = "./tests/test_data/samplesheet.csv"
                outdir = ".tests/test_out"
                downsample_target = 10000
        }
        process { 
                executor = 'slurm'
                errorStrategy = 'retry'
                maxRetries = 2
                queue = 'campus-new'
            }
    }
    slurm {
        process {
            executor = 'slurm'
            errorStrategy = 'retry'
            maxRetries = 2
            queue = 'campus-new'
            // https://sciwiki.fredhutch.org/datademos/on_gizmo/
            // runOptions = '--containall -B \$TMPDIR'
            // autoMounts = true
        }
    }
}

apptainer {
    cacheDir = "/fh/fast/_IRC/FHIL/grp/bioinfo_tools/containers/"
    libraryDir = "/fh/fast/_IRC/FHIL/grp/bioinfo_tools/containers/"
    enabled = true
}